<html>
    <head>
        <title>Joanna's blog</title>
    </head>
    <body>
        <div>
          <h1>Joanna'a blog</h1>
          <h2> Welcome!</h2>
          <strong><p>Hi there!</p>
            <p><em>It wooooooorks!</em></p></strong>
        </div>
        <div>
          <p>Add me on <a href="https://www.facebook.com/joanna.kirchhoff"><em>Facebook</em></a></p>
        </div>
        <div>
          <ul>
            <li>photos</li>
            <li>about</li>
            <li>blog entries</li>
          </ul>    
        </div>
    </body>
</html>
